html, body{
    width:375px;
height :812px;
margin:0;
padding:0;
font-family: 'MetropolisRegular';
}


.top-image{

height: 346px;
box-shadow: 2px;
}

.price{
    display: flex;
    flex-direction: row;
    width: 330px;
    
    padding-top:10px;
}
.leftCup{
    display: flex;
    flex-direction: column;
    padding-left:45px;
}
h2{
    font-size: 24px;
}
h1{
    font-size: 32px;
}
.stars{
    height: 15px;
}

.dollars{
    font-size: 32px;
}

.details{
    
    margin-top:10px;
}

.detailed{
    margin-left:20px;
    margin-right:20px;
}
h3{
    
}

.sugarTitle{
    font-size: 21px;
    margin-left: 15px;
    margin-top:30px;

}

.sizeTitle{
    font-size: 21px;
    margin-left: 5px;
    margin-top:0px;
}

.btnTitle{

}

p{font-size: 14px;}

.size{
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 20px;
}

.svgSugar{
    width:200px;
    margin-left:20px;
    margin-bottom:20px;
}

.surgar{
    margin-left:20px;
    margin-right:20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.allSugars{
    display: flex;
    flex-direction: row;
    border:none;
    justify-content: center;
}

.su{
    width:27px;
    height:27px;
    
    }

.total{
    display: flex;
    flex-direction: column;
    margin-left:0px;
}
.colButton{
    display: flex;
    flex-direction: row;
}

.rowButton{
    display:flex;
    flex-direction: row-reverse;
    margin-right:15px;
}
.sugar1{
    background-color: #F0F0EC;
    margin-left:15px;
    
}
.sugar2{
    background-color: #965F41;
    margin-left:15px;
}
.sugar3{
    background-color: #965F41;
    margin-right:15px;
}
.sugar4{
    background-color: #F0F0EC;
    margin-right:15px;
}
.sugar5{
    background-color: #F0F0EC;

}
.sugar6{
    background-color: #F0F0EC;
}



.buttons{
    margin-left: 20px;
    margin-right: 20px;
    display:flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}

.btn1{
    height:50px;
    width: 153px;
    color: #965F41;
    background-color: white;
    border-style:solid;
    border-color:#965F41;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.btn2{
    height: 50px;
    width: 150px;
    background-color: #965F41;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h4{
    font-size:15px;
}
