*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'MetropolisRegular';
}


#favorite h2 {
    font-size: 21px;
    color: #333333;
    text-align: left;
    letter-spacing: 1px;
}

#favorite p {
    font-size: 11px;
    color: #999999;
    
}

#favorite {
    position: absolute;
    bottom: 100px;
    left: 5%;
    width: 320px;
}

#container {
    display: flex;
    justify-content: center;
    
    
}

ul {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
}

#carousel h2 {
    font-size: 21px;
    margin-left: 18px;
    color: #333333;
    letter-spacing: 1px;
}

img {
    border-radius: 22px;
}

.card {
    width: 149px;
    height: 250px;
    
  }
  

.card-content p {
    color: #965F41;
    font-size: 14px;
    padding: 6px;
    

}

span {
    margin-left: 30px;
}

.carousel-item{
    margin-left: 18px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
    border-radius: 22px;
}

ul{
    list-style: none;
}


h1 {
    margin-top: 60px;
    margin-left: 18px;
    margin-bottom: 20px;
    
}

#carousel {
    height: 300px;
}

.svg {
    margin-left: 70px;
    margin-bottom: 1px;
}