
header, main, footer{
    font-family: 'MetropolisRegular';
}

.btn-coffee {
    color: white !important;
    background-color: #965F41 !important;
}

.btn-outCoffee {
    background-color: white !important;
    border-color: #965F41 !important;
    color: #965F41 !important;
}

.btn-facebook {
    background-color: white !important;
    border-color: #3B5998 !important;
    color: #3B5998 !important;
}

.btn-submit{
    background-color: #965F41 !important;
    border-color: #965F41 !important;
    color: white !important
}

.welcome_img {
    width: 345px; 
    height: 290px; 
    margin: 50px 0px 50px 0px;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_text {
    color: #c5c5c5;
}

input:focus {
    box-shadow: #965F41 1px 0px 5px !important;
    
}

input {
    border-color: #965F41 !important;
}




.welcome_text{
    color: #965F41  !important;
}

#hidden_login {
    display: none;
}

#hidden_signUp {
    display: none;
}

#wrong {
    display: none;
}

#wrong2 {
    display: none;
}

.separator {
    display: flex;
    border-bottom: solid black 1px;
    height: 10px;
    margin-bottom: 50px;
}

.separator::before{
    content: " You don't have an account ? Sign up ";
    position: absolute;
    left: 15.5%;
    padding: 5px 10px 5px 10px;
    margin-top: -5px;
    background-color: white;
    font-size: 0.9em;
    
    
}