* {
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 85px;
    background-color:#EEEEEE ;
    position: fixed;
    bottom: 0;
    padding-top: 12px;
    
}

nav a {
    margin-left: 55px;
    text-decoration: none;
    margin-top: 10px;
    height: 22px;
    width: 29px;
    
}

#indicator {
    width: 100%;
    height: 50px;
    background-color:#EEEEEE ;
    position: relative;
}

#indicator svg {
    position: absolute;
    left: 30%;
    bottom: 12px;
}

