html, body{
    width:375px;
height :812px;
margin:0;
padding:0;
font-family: 'MetropolisRegular';
}

#Capa_1{
    height:8px;
    width:8px;
}

#cup{
    width:17px;
    height:17px;
}

.colonne1{
    display: flex;
    flex-direction: column;
}

.row1{
    display: flex;
    flex-direction: row;
}

.row2{
    display: flex;
    flex-direction: row;
}